!*.yaml

!.gitignore
!*.md
!*.sh
!*.js*

secrets.yaml

.ssh
.storage
.cloud
.google.token
home-assistant.log*
home-assistant_v2*
home-assistant.log.fault
home-assistant_v2.db*
home-assistant_v2.db-shm
home-assistant_v2.db-wav
id_rsa*
.shopping_list.jason
binary_sensors.yaml
image/
llmvision/
media/
themes/catppuccin
themes/my-smarthome-theme_v3
tts/
view_assit/
www/
esphome/
custom_icons/
blueprints/
bubble_card/
*.log
*.log.txt
*.zip
.HA_VERSION
knx.yaml
